<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Easy bank</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <link rel="stylesheet" th:href="@{/styles/style.css}">
    </head>
    <body class="body-bg vh-100">

        <div class="container h-100 text-white">
            <div class="row h-100 justify-content-center align-items-center">
                <form class="col-6 form-shadowed">
                    <div class="d-flex align-items-center mb-4">
                        <i class="bi bi-person-circle me-3 ic-size-1"></i>
                        <h1 class="fw-normal">Sign in</h1>
                    </div>
                    <div class="col-8 mb-3">
                        <input type="email" class="form-control" placeholder="Address email" aria-label="First name">
                    </div>
                    <div class="col-md-8 mb-4">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-warning mb-4">Sign in</button>

                    <p>Don't have an account ? <a th:href="@{/register}" class="text-warning">Register</a></p>
                    <a th:href="@{/}" class="d-block text-warning"><i class="bi bi-arrow-left-circle-fill me-2 text-warning"></i> Back</a>
              </form>   
            </div>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>
