@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;400;500;700&display=swap');

body {
    font-family: 'Ubuntu';
}

.body-bg {
    background-image: url('/img/background.png');
    background-size: cover;
}

*{
    font-size: 0.9rem;
}

a{
    text-decoration: none;
}

.bg-danger-alt {
    background-color: #fad6da;
}

.bg-primary {
    background-color: #290570 !important;
    color: white !important;
}

.btn {
    border: 0.1rem solid #444;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.5rem #222;
}

.btn-orange, .btn-orange:hover {
    background-color: #f8770d;
    color: white;
}

.close {
    color: #fff !important; 
    opacity: 1 !important;
}

.ic-size-small {
	font-size: 0.4rem;
}

.ic-size-1 {
    font-size: 1.8rem;
}

.ic-size-2 {
    font-size: 1.3rem;
}

.navbar.bg-primary .nav-link {
    color: white !important;
}

.form-select.no-arrow {
    background: white !important;
}

.tranferCards .card {
    display: none;
}